doctype html
html
head
  title Employee Form
  link(rel='stylesheet', href='/styles/style.css')
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

  body
  a.btn.btn-secondary.d-inline-flex.align-items-center.gap-2(href='/employees')
      i.fas.fa-arrow-left
         |       Back to Employees
  div.Flex-center
   div.Form-Background
    h1 Add Employee
    form(action="/employees/add" method="POST")
      label(for="name") Name:
      input(type="text" name="name" required)
      br
      label(for="designation") Designation:
      input(type="text" name="designation")
      //- br
      //- label(for="branch") Branch:
      //- input(type="text" name="branch")
      br
      label(for="isActive") Active:
      input(type="checkbox" name="isActive" checked)
      br
      button(type="submit") Submit
