doctype html
html
  head
    title Edit Asset Category
    link(rel='stylesheet', href='/styles/style.css')
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  body
   a.btn.btn-secondary.d-inline-flex.align-items-center.gap-2(href='/assetCategories')
      i.fas.fa-arrow-left
         |       Back to Asset Category 
  div.Flex-center
   div.Form-Background
    h1 Edit Asset Category
    form(action=`/assetCategories/edit/${assetCategory.id}`, method='POST')
      div
        label(for='name') Category Name:
        input(type='text', name='name', id='name', value=assetCategory.name, required=true)
      div
        label(for='description') Description:
        textarea(name='description', id='description')= assetCategory.description
      div.form-group
        button(type='submit').btn.btn-primary Update Category
