doctype html
html
  head
    title Scrap Asset
    link(rel='stylesheet', href='/styles/style.css')
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  body
   a.btn.btn-secondary.d-inline-flex.align-items-center.gap-2(href='/')
      i.fas.fa-arrow-left
         |       Back to Home
  div.Flex-center
   div.Form-Background
    h1 Scrap Asset
    form(action='/assets/scrap' method='POST')
      div
        label(for='assetId') Select Asset to Scrap
        select(name='assetId' id='assetId')
          each asset in assets
            option(value=asset.id)= asset.assetName + ' (' + asset.serialNumber + ')'

      div.form-group
        button(type='submit') Scrap Asset

